// Colors

$primary-color: #9d8665;
$accent-color: #710707;
$active-color: #7e6c51;
$unviseted-color: #d2b183;
$dotsBg-color: #999999;
$activeDot-color: #333333;
$bg-color: #030303;

$dark: #000000;
$white: #ffffff;

// Fonts

$ff-main: "Roboto", sans-serif;

$ff-second: "Forum", cursive;

// Font size

$fs-main: 2.2rem;
$fs-second: 8rem;
$fs-third: 1.8rem;
$fs-bold: 2.8rem;
$fs-small: 1.2rem;
$fs-mini: 1rem;

//Font weight

$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;
$fw-thin: 100;
